/* Toggle CSS Code thing from https://gomakethings.com/how-to-show-and-hide-elements-with-vanilla-javascript/ */
@font-face {
    font-family: "Source Sans Pro - Regular";
    src: url(../fonts/SourceSansPro-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Alphabetized Cassette Tapes";
    src: url(../fonts/Alphabetized-Cassette-Tapes.ttf) format("truetype");
}

@font-face {
    font-family: "Open-Sans-Condensed-Light";
    src: url(../fonts/OpenSansCondensed-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Courier New - Regular";
    src: url(../fonts/Courier-New-Regular.ttf) format("truetype");
}

html {
    overflow-y: scroll;
}

h2 {
    font-family: "Source Sans Pro - Regular", sans-serif;
    font-size: 56px;
    text-align: center;
}

p {
    font-family: 'Alphabetized Cassette Tapes', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 10px;
}
.toggle {
    font-family: "Open-Sans-Condensed-Light", sans-serif;
    font-size: 24px;
    display: block;
    text-align: center;
    margin: 50px 0px;
    text-decoration: none;
    color: #000000;
}

.code {
    display: none;
    font-family: "Courier New - Regular", serif;
    font-size: 18px;
    color: #525252;
    border: 1px solid;
    padding: 10px;
    height: 40%;
    width: 50%;
    text-align: left;
    margin: auto;
    overflow-wrap: break-word;
}

.code.is-visible {
    display: block;
}

.border {
    height: 200px;
    width: 300px;
    margin: auto;
    border: 3px solid #000000;
    border-radius: 7px;
}

.animation {
    height: 100px;
    width: 100px;
    border: 5px solid hsl(356, 100%, 70%);
    border-radius: 50%;
    margin: 50px 100px;
    vertical-align: 50%;
    /* Animation */
    -webkit-animation-name: animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-name: animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-play-state: paused;
    transition: border-bottom-color 3s linear;
}

.animation:hover {
    animation-play-state: running;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes animation {
    0%   {background-color: red; border-radius: 50%; transform: scale(1); border: 5px solid hsl(356, 100%, 70%);}
    25%  {background-color: yellow; border: 5px solid hsl(61, 100%, 75%);}
    50%  {background-color: blue; border: 5px solid hsl(213, 100%, 75%);}
    100% {background-color: red; border-radius: 10%; transform: scale(1.5); border: 5px solid hsl(356, 100%, 70%);}
}

/* Standard syntax */
@keyframes animation {
    0%   {background-color: red; border-radius: 50%; transform: scale(1); border: 5px solid hsl(356, 100%, 70%);}
    25%  {background-color: yellow; border: 5px solid hsl(38, 100%, 50%);}
    50%  {background-color: blue; border: 5px solid hsl(213, 100%, 75%);}
    100% {background-color: red; border-radius: 10%; transform: scale(1.5) rotate(180deg); border: 5px solid hsl(356, 100%, 70%);}
}